@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.Navbar {
  width: 700px;
  height: 70px; 
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.size {
  width: 700px;
  height: 600px;
}

.button {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  width: 535px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.display {
  width: 535px;
  height: 350px;
}